.results-parent {
  top: 2.4rem;
  z-index: 9999999 !important;
}

.card:hover {
  cursor: pointer;
  background: #fbfdff;
}

.no-style-link {
  text-decoration: none;
  color: inherit;
}

.no-style-link:hover {
  color: inherit;
}
